{{extend "layout1.html"}}
<style>
.opt-pics{
    width:10%;
    height: 10%;
    vertical-align: middle;
    padding-left: 11%;
    padding-right: 11%;
}
</style>
<body>
	  <a href="http://127.0.0.1:8000/Tris/default/voice_uploads"><img id="voice" class="opt-pics" src="http://127.0.0.1:8000/Tris/static/images/microphone.png"></a>
      <a href="http://127.0.0.1:8000/Tris/default/view_uploads"><img id="upload" class="opt-pics" src="http://127.0.0.1:8000/Tris/static/images/upload.png"></a>
      <a href="http://127.0.0.1:8000/Tris/default/text_uploads"><img id="key" class="opt-pics" src="http://127.0.0.1:8000/Tris/static/images/key.png"></a>

</body>